<footer class="p-4 left-0 bottom-0 block w-full bg-white">
    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-4 items-center">
            <div class="w-44">
                <a href="/">
                    <img src="img/ledgexplore_text.svg" alt="logo">
                </a>
            </div>
            <div>
                <span class="font-sans font-medium">Made with <span class="text-red-600"><i
                            class="fa-solid fa-heart"></i></span class="font-sans font-medium"> by Team Red</span>
            </div>
        </div>
        <div class="flex"></div>
    </div>
</footer>