<div class="h-20 p-5 bg-secondary">
    <div class="flex flex-row items-center justify-between  text-black">
        <div class="w-44">
            <a href="/">
                <img src="img/ledgeexplore_web.svg" alt="logo">
            </a>
        </div>
        <nav class="flex items-center space-x-4">
            <a href="/latest" class="hover:text-accent hover:bg-primary p-2 rounded-md font-bold">Latest Block</a>
            <a href="/Explore" class="hover:text-accent hover:bg-primary p-2 rounded-md font-bold">Explore</a>
            <a href="/#About" class="hover:text-accent hover:bg-primary p-2 rounded-md font-bold">About</a>
        </nav>
    </div>
</div>